

.roboto-xlight {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-xbold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.noto-sans-light {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans-bold {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.fira-code-regular {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.atkinson-hyperlegible-next-regular {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.overpass-regular {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.0rem;
}

.wrapper {
  height: 100%;
}


.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout .nav {
  order: 10;
}

.layout .content {
  flex-grow: 1;
}

.nav nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: solid white;
}

.nav nav a {
  font-family: "Noto Sans", sans-serif;
  flex-grow: 1;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: 1px solid lightgrey;

  padding-top: 1em;
  padding-bottom: 1em;
}

.nav nav div.vbar {
  height: 3em;
  width: 0;
  border-right: 1px solid black;
}

nav .icon {
  height: 2em;
  display: block;
  margin-bottom: 0.5em;
}

.nav nav .navActive {
  font-weight: 600;
}

.content {
  padding: 0 1em;
  overflow-y: scroll;
}

.topnav .icon {
  width: 2em;
  display: inline-block;
}

.topnav a {
  margin-left: -0.5em;
  padding: 0.5em 1em;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25em 1em;
}

.topnav .navHeadingOnly,
.topnav .navHeadingAndSubheading {
  text-align: left;
  font-family: "Overpass", sans-serif;
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}

.navHeadingOnly.majorHeading {
  font-size: 1.5rem;
}

.navHeadingAndSubheading .navHeading {
  margin: 0;
  flex-grow: 1;
  font-size: 1.5rem;
}

.navHeadingAndSubheading .navSubheading {
  margin: 0;
  flex-grow: 1;
  font-weight: 200;
  font-size: 1.0rem;
}

.verticalList {
  list-style: none;
  padding: 0;
}

.verticalList li {
  border-bottom: 1px solid black;
}

.verticalList li:last-child {
  border-bottom: none;
}

.verticalList li a {
  color: black;
  padding: 0.75em 1em;
  display: block;
}

.actionHeading {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.actionHeading h1,
.actionHeading h2,
.actionHeading h3,
.actionHeading h4 {
  flex-grow: 1;

}

.actionHeading .actions {
  display: flex;
  align-items: center;
}

.invoiceList {
  width: 100%;
}

.invoiceList th {
  text-align: left;
}

.invoiceList tbody th {
  font-weight: normal;
}

.invoiceList a {
  display: inline-block;
  padding: 0.5em 1em 0.5em 0;
}

.projectTable, .pendingHoursList {
  width: 100%;
}

.projectTable th,
.pendingHoursList th {
  text-align: left;
}

.projectTable tbody th,
.pendingHoursList tbody th {
  font-weight: normal;
}

.projectTable .project_actions {
  width: 4em;
}

.pendingHoursList .hours_display {
  width: 1em;
  text-align: right;
}

.pendingHoursList thead .hours_display {
  text-align: left;
}

.projectTable a,
.pendingHoursList a {
  display: inline-block;
  padding: 0.5em 1em 0.5em 0;
}

.pendingHoursList tfoot td {
  font-weight: 600;
}

.flatButton {
  background: none;
  border: 1px solid black;
  padding: 0.5em 1em;
}

.flatButton[disabled] {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
}

.buttonIconButton {
  background: none;
  border: 1px solid black;
  padding: 0.5em 1em;
  margin-left: 0.5em;
}

.buttonIcon {
  display: block;
  height: 1em;
  padding: 0.2em;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.timerMain[data-running=true] .waiting {
  display: none;
}

.timerMain[data-running=false] .running,
.timerRunningBanner[data-running=false] {
  display: none;
}

.timerMain[data-running=true] .running {

}

.timerMain[data-running=false] .waiting {

}

.timerRow {
  display: flex;
  flex-direction: row;
  padding: 0.25em 0.2em;
  column-gap: 0.25em;
  align-items: center;
}

.timerRow p {
  margin: auto;
  text-align: left;
  flex-grow: 1;
}

.timerRow label {
  display: inline-block;
  padding-right: 0.5em;
}

.timerRow .timerInput {
  flex-shrink: 1;
  flex-grow: 1;
  padding: 0.5em 0.2em;
  min-width: 50px;
}

.timerRow .timerCheckboxInput {
  padding: 0.5em 0.2em;
}

.timerRow .timerCheckboxLabel {
  padding: 0.5em 0.2em;
  flex-grow: 1;
}

.timerRow .timerRunningDescription {
  padding: 0.5em 0.2em;
  flex-grow: 1;
}

.timerRow .timerClient,
.timerRow .timerProject {
  padding: 0.2em 0;
}

.timerRunningBannerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #A50021;
  color: white;
  padding: 0.5em 1em;
}

.timerRunningBannerRow .runningTitle {
  flex-grow: 1;
  flex-shrink: 1;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  padding: 0.2em 0;
}

.timerRunningBannerRow .runningTitle p {
  margin: 0;
  padding: 0;
}

.timerRunningBannerRow .runningTimerHeading {
  font-weight: bold;
}

.timerRunningBannerRow .timerDisplayContainer {
  padding: 0.2em 1em;
}

@media screen and (min-width: 400px){
  .timerRunningBannerRow .timerDisplayContainer {
    font-size: 1.2em;
  }
}

.timerRunningBannerRow .timerStopButton {
  background: none;
  border: 1px solid white;
  padding: 0.5em 1em;
  color: white;
}

.rowSplit2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.rowSplit2 .rowSplitInner {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0.25em 0.2em;
}

.timerAddButton {
  align-self: center;
  margin: auto;
  width: 100%;
  padding: 0.75em 0.2em;
  background-color: rgb(13, 110, 253);
  color: white;
}

.timerDisplay {
  text-align: center;
  font-size: 1.2em;
}

.timerStopButton {
  align-self: center;
  margin: auto;
  margin-top: 0.75em;
  width: 100%;
  padding: 0.75em 0.2em;
  background-color: #A50021;
  color: white;
}

@media screen and (min-width: 400px)
{
  .rowSplit2 {
    flex-direction: row;
    column-gap: 1em;
  }

  .rowSplit2 .rowSplitInner {
    width: 50%;
    padding: 0;
  }

  .timerDisplay {
    font-size: 3em;
  }

  .timerAddButton {
    width: 95%;
  }
}

@media screen and (min-width: 500px)
{
  .timerDisplay {
    font-size: 4em;
  }
}

.todaysTimersTable {
  width: 100%;
}

.todaysTimersTable .timer_name a {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
  color: black;
}

.todaysTimersTable .timer_name .timer_description {
  font-weight: normal;
}

.todaysTimersTable .timer_name .timer_description_extra {
  font-size: 0.85em;
  font-weight: 200;
}

.todaysTimersTable .timer_actions {
  padding-left: 1em;
}

.todaysTimersTable .timer_time,
.todaysTimersTable .timer_actions {
  width: 1em;
}

.topnavButton {
  border: 1px solid black;
  margin: 0 0.5em;
}

.editForm .formRow{
  display: flex;
  flex-direction: row;
  padding: 0.5em 0;
  align-items: center;
}

.editForm .formRow label {
  padding-right: 0.5em;
}
.editForm .formRow input {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 20px;
  padding: 0.5em 1em;
}

.editForm .formRow.formCheckbox input {
  flex-grow: 0;
}

.editForm .formRow.formCheckbox label {
  flex-grow: 1;
  padding: 0.5em 1em;
}

.timerListTable {
  width: 100%;
}

.timerListTable tbody tr {
  padding: 1.0em 0;
}

.timerListTable .timer_name a {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
  color: black;
}

.timerListTable .timer_name .timer_description {
  font-weight: normal;
}

.timerListTable .timer_name .timer_description_extra {
  font-weight: 200;
  font-size: 0.8em;
}

.timerListTable .timer_date,
.timerListTable .timer_time,
.timerListTable .timer_actions {
  width: 1em;
  padding-left: 1em;
}

.errorMessageOuter {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorMessageInner {
  width: 100%;
  text-align: center;
}

.errorMessageOuter .errorMessage {
  margin: auto;
  padding: 0;
}

.errorMessageOuter .closeButton {
  margin: auto;
  padding: 0;
}

.errorMessageOuter .closeButton button{
  align-self: center;
  margin: auto;
  margin-top: 1em;
  min-width: 50%;
  padding: 0.75em 1.2em;
  background-color: #A50021;
  color: white;
}

.invoiceLineListTable {
    width: 100%;
}

.invoiceLineListTable td {
   vertical-align: baseline;
}

.invoiceLineListTable td.invoiceLineHours {
    width: 4em;
    text-align: right;
}

.invoiceLineListTable td.invoiceLineTotal {
    width: 4em;
    text-align: right;
}

.ilDescriptionMain {
  padding: 0;
}

.ilDescriptionExtra {
  padding: 0;
}

