<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block page_title %}PJim CRM{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Fira+Code:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <div class="header">

            </div>
            <div class="nav">
                {%block content %}[ERROR: Empty content]{% endblock %}
            </div>
        </div>
    </body>
</html>