{% extends "pjimcrm/base.html" %}

{% block page_title %}{{ project_record.name }} [Project] - PJim CRM Home{% endblock %}
{% block precontent %}
{% include "pjimcrm/snippets/timer_banner.html" %}
{% endblock %}
{% block content %}
<div>
    <a href="{% url 'client_detail' project_record.client.id %}">Back</a>
    <h1>{{ project_record.description }}</h1>
    <div>
        {% if project_record %}
            <p>Description: {{ project_record.description }}</p>
            <ul>
            {% for project_record in project_record.project_set.all %}
                <li><a href="{% url 'project_detail' project_record.id project_record.id %}">{{ client_record.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
